/* ===Contact Us=== */
#contact {
	background-color: #495164;
	background-image: url("../img/Contact_bg.png");
	background-position: bottom;
	background-repeat: repeat-x;
	padding-top: 20px;
	padding-bottom: 20px;
	background-size: cover;
}

#contact > * {
	margin-bottom: 12px;
}

#contact-buttons {
	text-align: center;
	word-spacing: 4px;
}
#contact-buttons > * {
	width: 46px;
	height: 40px;
}

#copyright {
	text-align: center;
	font-family: "raleway-regular", tahoma, Arial;
	font-size: 12pt;
}