@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);

* {
  box-sizing: border-box;
}

html, body {   
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #fff;
    background: linear-gradient(#FF8C00, #FF8C00);
    background: -webkit-linear-gradient(#FF8C00, #FF8C00);
    background: -moz-linear-gradient(#FF8C00, #FF8C00);
    background: -ms-linear-gradient(#FF8C00, #FF8C00);
    background: -o-linear-gradient(#FF8C00, #FF8C00);
}

/* centered columns styles */
.row-centered {
    text-align: center;
    margin: 0 auto;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.resizing-title {
    color: white;
    text-align: center;
    padding-top: 3px;
    font-size: 200%;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .basic-slide {
        width: 200px;
        padding-left: 22px;
    }
    .basic-slide:focus::-webkit-input-placeholder,
    .basic-slide:active::-webkit-input-placeholder {
        color: #555;
    }
    .seperator {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 3px;
    }
    .resizing-title {
        padding-top: 3px;
        font-size: 350%;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .basic-slide {
        width: 300px;
        padding: 10px 0 10px 15px;
    }
    .basic-slide:focus::-webkit-input-placeholder,
    .basic-slide:active::-webkit-input-placeholder {
        color: #aaa;
    }
    .seperator {
        margin-top: 15px;
        margin-bottom: 15px;
        height: 3px;
    }
    .resizing-title {
        padding-top: 3px;
        font-size: 600%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .seperator {
        height: 5px;
    }
    .resizing-title {
        padding-top: 5px;
        font-size: 600%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .seperator {
        height: 5px;
    }
    .resizing-title {
        padding-top: 5px;
        font-size: 600%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .seperator {
        height: 5px;
    }
    .resizing-title {
        padding-top: 5px;
        font-size: 600%;
    }
}

/* generic parallax styles *//*
.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.parallax__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}
.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.parallax__layer--base {
    transform: translateZ(0);
}
.parallax__layer--back {
    transform: translateZ(-1px) scale(2);
}
*/