@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);

* {
  box-sizing: border-box;
}
html, body {   
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #fff;
    background: #efefef; 
}

/* centered columns styles */
.row-centered {
    text-align: center;
    margin: 0 auto;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/* navbar styles */
.navbar-default {
    
    background: transparent;
    height: 150px;
    border: 0;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 75px;
    height: 75px;
    padding-top: 0;
}
.navbar-default .navbar-nav > li > a {
    color: whitesmoke; /*Change active text color here*/
}


.background-header {
    background: url(../img/SWH_background.jpg) no-repeat center;
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.resizing-title {
    color: white;
    text-align: center;
    padding-top: 3px;
    font-size: 200%;
}
.seperator {
    background: rgba(255,255,255,.5);
    height: 3px;
}

.input-row {
    padding-top: 5px;
    max-width: 800px;
    margin: 0 auto;
    padding: 25px 30px;
    position: relative;
    z-index: 1;
    text-align: center;
}
.input-row:before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: -5000px;
    height: 100%;
    width: 15000px;
    z-index: -1;
    background: inherit;
}
.input-row span {
    position: relative;
    display: inline-block;
    margin: 0px 0px;
}

.basic-slide {
    display: inline-block;
    padding: 10px 0 10px 15px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: #ccc;
    background: #555;
    border: 0;
    border-radius: 3px;
    outline: 0;
    text-indent: 80px;
    transition: all .3s ease-in-out;
}
.basic-slide::-webkit-input-placeholder {
    color: #555;
    text-indent: 0;
    font-weight: 300;
}
.basic-slide + label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 20px;
    background: #FF8C00;
    transition: all .3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.basic-slide:focus,
.basic-slide:active {
    color: #ccc;
    text-indent: 0;
    background: #555;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transform: translateX(11%);
}
.basic-slide:focus + label,
.basic-slide:active + label {
    transform: translateX(-50%);
}


.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .1s;
    background-image: none;
    text-shadow: none;
    border-width: 1px;
    border-radius: 3px;
}
.btn-warning.btn-outline {
    color: #fff;
}
.btn-warning.btn-outline:hover {
    color: #fff;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .basic-slide {
        width: 200px;
        padding-left: 22px;
    }
    .basic-slide:focus::-webkit-input-placeholder,
    .basic-slide:active::-webkit-input-placeholder {
        color: #555;
    }
    .seperator {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 3px;
    }
    .resizing-title {
        padding-top: 3px;
        font-size: 350%;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .basic-slide {
        width: 300px;
        padding: 10px 0 10px 15px;
    }
    .basic-slide:focus::-webkit-input-placeholder,
    .basic-slide:active::-webkit-input-placeholder {
        color: #aaa;
    }
    .seperator {
        margin-top: 15px;
        margin-bottom: 15px;
        height: 3px;
    }
    .resizing-title {
        padding-top: 3px;
        font-size: 600%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .seperator {
        height: 5px;
    }
    .resizing-title {
        padding-top: 5px;
        font-size: 600%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .seperator {
        height: 5px;
    }
    .resizing-title {
        padding-top: 5px;
        font-size: 600%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .seperator {
        height: 5px;
    }
    .resizing-title {
        padding-top: 5px;
        font-size: 600%;
    }
}

/* generic parallax styles *//*
.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.parallax__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}
.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.parallax__layer--base {
    transform: translateZ(0);
}
.parallax__layer--back {
    transform: translateZ(-1px) scale(2);
}
*/