.header-container {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.header-title {
    background-image: url("../img/website_header.png");
    width: 100%;
    height: 59vw;
    max-height: 75vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 32px solid transparent;
}

.register-button {
    display: inline-block;
    background-image: url("../img/registerButton.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    width: 50vw;
    height: 7vw;
    max-width: 512px;
    max-height: 72px;
/*    width: 236px;
    height: 33px;
*/}

.header-container .buttons {
    text-align: center;
}

.register-button:hover {
    background-image: url("../img/registerButtonHover.png");
}

.volunteer-button {
    display: inline-block;
    background-image: url("../img/volunteerButton.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    width: 50vw;
    height: 7vw;
    max-width: 512px;
    max-height: 72px;
/*    width: 236px;
    height: 33px;
*/}

.volunteer-button:hover {
    background-image: url("../img/volunteerButtonHover.png");
}