/* ===Font=== */
@font-face {
	font-family: "raleway-regular";
	src: url("../res/Raleway-Regular.ttf");
}
@font-face {
	font-family: "raleway-medium";
	src: url("../res/Raleway-Medium.ttf");
}
@font-face {
	font-family: "raleway-light";
	src: url("../res/Raleway-Light.ttf");
}
@font-face {
	font-family: "raleway-heavy";
	src: url("../res/Raleway-Heavy.ttf");
}
@font-face {
	font-family: "raleway-semibold";
	src: url("../res/Raleway-SemiBold.ttf");
}
@font-face {
	font-family: "raleway-heavy";
	src: url("../res/Raleway-Heavy.ttf");
}

/* ===Set up=== */
* {
	box-sizing: border-box;
}

body {
	background-color: #f2430c;
	color: white;
}

h1 {
	text-align: center;
	font-family: "raleway-heavy", Arial, Tahoma;
	font-size: 30pt;
	margin: 0px;
}

h2 {
	text-align: center;
	font-family: "raleway-bold", Arial, Tahoma;
	font-size: 16pt;
}

a, a:hover, a:active, a:visited {
	text-decoration: none;
	color: inherit;
}

/* ===Layout=== */
.tl-block {
	width: 100%;
	min-height: 100px;
}

/* ===Social Buttons/Reusable components=== */
.email-btn {
	background-image: url("../img/mail_hex.png");
	background-size: 32px 32px;
	width: 32px;
	height: 32px;
	display: inline-block;
}

.facebook-btn {
	background-image: url("../img/facebook_hex.png");
	background-size: 32px 32px;
	width: 32px;
	height: 32px;
	display: inline-block;
}

.twitter-btn {
	background-image: url("../img/twitter_hex.png");
	background-size: 32px 32px;
	width: 32px;
	height: 32px;
	display: inline-block;
}

/* ===Top header=== */
#entry {
    background: linear-gradient(#f2630c, #f6840e);
    background: -webkit-linear-gradient(#f2630c, #f6840e);
    background: -moz-linear-gradient(#f2630c, #f6840e);
    background: -ms-linear-gradient(#f2630c, #f6840e);
    background: -o-linear-gradient(#f2630c, #f6840e);

    background-image: url("../img/SWHacks_landing_bg.png");
    background-size: cover;

    height: 100vmin;
    min-height: 500px;
    text-align: center;
}

#top-bar {
	position: absolute;
	top: 0px;
	width: 100%;
	margin: 0px;
	padding-top: 8px;
	padding-left: 8px;
	padding-right: 8px;
}

#top-bar > * {
	display: inline-block;
}

#top-swhacks-hashtag {
	left: 4px;
	position: absolute;
	color: white;
	font-size: 18pt;
	font-family: "raleway-light", Verdana, Tahoma;
}

#top-swhacks-rightalign {
	position: absolute;
	text-align: right;
	right: 0px;
}

#top-swhacks-rightalign > * {
	display: inline-block;
	margin-right: 8px;
}

/* ===Top Header => Logo + Register=== */
#entry-dead-center {
	display: inline-block;
	margin-top: 10vmin;
	width: 80vw;
	text-align: center;
}
#entry-middle-swhacks-intro {
	background-image: url("../img/website_header.png");
	display: inline-block;
	width: 80vw;
	height: 31.0902vw;
	max-height: 500px;
	max-width: 1350px;
	background-size: contain;
}
#entry-register-button {
	display: inline-block;
	width: 120px;
	height: 64px;
	line-height: 64px;
	background-color: #ffd613;
	color: #f2630c;
	font-size: 14pt;
	font-family: "raleway-medium", Arial, Tahoma;
}
#entry-register-button:active,
#entry-register-button:hover {
	background-color: #313849;
	color: white;
}

/* ===Navigation bar=== */
@media (min-width: 541px) {
	#entry-navigation-menu {
		position: absolute;
		top: 100vmin;
		height: 64px;
		background-color: #313849;
		width: 100%;
		margin-top: -64px;
		text-align: center;
	}

	#entry-navigation-menu > * {
		display: inline-block;
		height: 64px;
		margin: 0px;
		line-height: 64px;
		width: 15%;
		color: white;
		font-size: 15pt;
		font-family: "raleway-medium", Arial, Tahoma;
	}

	#navigation-menu {
		display: none;
	}
}
@media (max-width: 540px) {
	#entry-navigation-menu {
		display: none;
	}

	#navigation-menu {
		top: 100vmin;
		min-height: 64px;
		background-color: #313849;
		width: 100%;
		text-align: center;
	}

	#navigation-menu > * {
		height: 64px;
		line-height: 64px;
		color: white;
		font-size: 15pt;
		font-family: "raleway-medium", Arial, Tahoma;
	}
}

#entry-navigation-menu > *:hover,
#entry-navigation-menu > *:active,
#navigation-menu > *:hover,
#navigation-menu > *:active {
	background-color: #ffc539;
}

/* ===About=== */
#about {
	padding-top: 20px;
	background-color: white;
	padding-bottom: 20px;
}

#about-layout {
	width: 90%;
	margin-left: 5%;
}

#about-img {
	display: inline-block;
	width: 20vw;
	max-width: 500px;
	height: 20vw;
	max-height: 500px;
	background-image: url("../img/About_SWHacks.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-top: 8px;
	margin-bottom: 8px;
}

#about-text {
	color: black;
	margin-top: 8px;
	margin-bottom: 8px;
	font-family: "raleway-regular", Arial, Tahoma;
	font-size: 12pt;
}

/* ===Schedule=== */
#schedule {
	background: linear-gradient(#2f3545, #3b4252);
	background: -webkit-linear-gradient(#2f3545, #3b4252);
	background: -moz-linear-gradient(#2f3545, #3b4252);
	background: -ms-linear-gradient(#2f3545, #3b4252);
	background: -o-linear-gradient(#2f3545, #3b4252);
	padding-top: 20px;
	text-align: center;
}

.schedule-tbl {
	display: inline-block;
}

.schedule-tbl td {
	padding: 8px;
}

.schedule-tbl td:nth-child(1) {
	text-align: right;
	border-right: 1px solid #C6C6C6;
	color: #C6C6C6;
	font-family: "raleway-thin", Arial, Tahoma;
	font-size: 18pt;
}
.schedule-tbl td:nth-child(2) {
	text-align: left;
	font-family: "raleway-light", Arial, Tahoma;
	font-size: 18pt;
}


/* ===FAQ=== */
#faq {
	padding-top: 20px;
	padding-bottom: 20px;
	background: linear-gradient(#f2630c, #f6840e);
	background: -webkit-linear-gradient(#f2630c, #f6840e);
	background: -moz-linear-gradient(#f2630c, #f6840e);
	background: -ms-linear-gradient(#f2630c, #f6840e);
	background: -o-linear-gradient(#f2630c, #f6840e);
}

#faq-container {
	width: 90%;
	margin-left: 5%;
}

#faq-container > h2 {
	font-family: "raleway-semibold", Arial, Tahoma;
	font-size: 18pt;
	text-align: left;
}

#faq-container > hp {
	font-family: "raleway-regular", Arial, Tahoma;
	font-size: 12pt;
	text-align: left;
}


/* ===Sponsors=== */
#sponsors {
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

#sponsors-flex {
	width: 80%;
	margin-top: 20px;
	margin-left: 10%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

#sponsors-header {
	color: black;
}

/* ===Contact Us=== */
#contact {
	background-color: #495164;
	background-image: url("../img/Contact_bg.png");
	background-position: bottom;
	background-size: cover;
	padding-top: 20px;
	padding-bottom: 20px;
}

#contact > * {
	margin-bottom: 12px;
}

#contact-buttons {
	text-align: center;
	word-spacing: 4px;
}

#copyright {
	text-align: center;
	font-family: "raleway-regualr", tahoma, Arial;
	font-size: 12pt;
}