/* ===Font=== */
@font-face {
	font-family: "raleway-regular";
	src: url("../res/Raleway-Regular.ttf");
}
@font-face {
	font-family: "raleway-medium";
	src: url("../res/Raleway-Medium.ttf");
}
@font-face {
	font-family: "raleway-light";
	src: url("../res/Raleway-Light.ttf");
}
@font-face {
	font-family: "raleway-heavy";
	src: url("../res/Raleway-Heavy.ttf");
}
@font-face {
	font-family: "raleway-semibold";
	src: url("../res/Raleway-SemiBold.ttf");
}
@font-face {
	font-family: "raleway-heavy";
	src: url("../res/Raleway-Heavy.ttf");
}

/* ===Set up=== */
* {
	box-sizing: border-box;
}

body {
	background-color: #f2430c;
	color: white;
}

h1 {
	text-align: center;
	font-family: "raleway-heavy", Arial, Tahoma;
	font-size: 30pt;
	margin: 0px;
}

h2 {
	text-align: center;
	font-family: "raleway-bold", Arial, Tahoma;
	font-size: 16pt;
}

a, a:hover, a:active, a:visited {
	text-decoration: none;
	color: inherit;
}

/* ===Layout=== */
.tl-block {
	width: 100%;
	min-height: 100px;
}

/* ===Social Buttons/Reusable components=== */
.email-btn {
	background-image: url("../img/mail_hex.png");
	background-size: cover;
	width: 37px;
	height: 32px;
	display: inline-block;
}

.facebook-btn {
	background-image: url("../img/facebook_hex.png");
	background-size: cover;
	width: 37px;
	height: 32px;
	display: inline-block;
}

.twitter-btn {
	background-image: url("../img/twitter_hex.png");
	background-size: cover;
	width: 37px;
	height: 32px;
	display: inline-block;
}

/* ===About=== */
#about {
	padding-top: 20px;
	background-color: white;
	padding-bottom: 20px;
}

#about-layout {
	width: 90%;
	margin-left: 5%;
}

#about-img {
	display: inline-block;
	width: 20vw;
	max-width: 500px;
	height: 20vw;
	max-height: 500px;
	background-image: url("../img/About_SWHacks.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-top: 8px;
	margin-bottom: 8px;
}

#about-text {
	color: black;
	margin-top: 8px;
	margin-bottom: 8px;
	font-family: "raleway-regular", Arial, Tahoma;
	font-size: 12pt;
}

/* ===Schedule=== */
#schedule {
	background: linear-gradient(#2f3545, #3b4252);
	background: -webkit-linear-gradient(#2f3545, #3b4252);
	background: -moz-linear-gradient(#2f3545, #3b4252);
	background: -ms-linear-gradient(#2f3545, #3b4252);
	background: -o-linear-gradient(#2f3545, #3b4252);
	padding-top: 20px;
	text-align: center;
}

.schedule-tbl {
	display: inline-block;
}

.schedule-tbl td {
	padding: 8px;
	padding-left: 24px;
	padding-right: 24px;
}

.schedule-tbl td:nth-child(1) {
	text-align: right;
	border-right: 1px solid #C6C6C6;
	color: #C6C6C6;
	font-family: "raleway-thin", Arial, Tahoma;
	font-size: 18pt;
}
.schedule-tbl td:nth-child(2) {
	text-align: left;
	font-family: "raleway-light", Arial, Tahoma;
	font-size: 18pt;
}


/* ===FAQ=== */
#faq {
	padding-top: 20px;
	padding-bottom: 20px;
	background: linear-gradient(#f2630c, #f6840e);
	background: -webkit-linear-gradient(#f2630c, #f6840e);
	background: -moz-linear-gradient(#f2630c, #f6840e);
	background: -ms-linear-gradient(#f2630c, #f6840e);
	background: -o-linear-gradient(#f2630c, #f6840e);
}

#faq-container {
	width: 90%;
	margin-left: 5%;
}

#faq-container > h2 {
	font-family: "raleway-semibold", Arial, Tahoma;
	font-size: 18pt;
	text-align: left;
}

#faq-container > hp {
	font-family: "raleway-regular", Arial, Tahoma;
	font-size: 12pt;
	text-align: left;
}


/* ===Sponsors=== */
#sponsors {
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

#sponsors-flex {
	width: 80%;
	margin-top: 20px;
	margin-left: 10%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

#sponsors-header {
	color: black;
}

/* ===Contact Us=== */
#contact {
	background-color: #495164;
	background-image: url("../img/Contact_bg.png");
	background-position: bottom;
	background-size: cover;
	padding-top: 20px;
	padding-bottom: 20px;
}

#contact > * {
	margin-bottom: 12px;
}

#contact-buttons {
	text-align: center;
	word-spacing: 4px;
}

#copyright {
	text-align: center;
	font-family: "raleway-regualr", tahoma, Arial;
	font-size: 12pt;
}