#speakers {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.speakers-header {
    color: #f85905;
    padding-bottom: 20px;
}

.speakers-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    align-content: space-between;
}

.speakers-img {
    flex-grow: 3;
    max-height: 200px;
}

.speakers-desc {
    flex-grow: 7;
    text-align: left;
    padding: 10px;
    font-family: "raleway-regular", Arial, Tahoma;
}

.speakers-desc > p {
    color: black;
}

.speakers-desc > p > a {
    color: #FF8C00;
}

.speakers-desc > p > a:visited {
    color: #D90000;
}

.mail-industry:link {
    color: #FF8C00;
}

.mail-industry:visited {
    color: #D90000;
}

.mail-industry:hover {
    color: #D90000;
}

.mail-industry:active {
    color: #D90000;
}