
#speakers {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.speakers-header {
    color: #f85905;
    padding-bottom: 20px;
}

.speakers-bio-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.speakers-bio-pic {
    margin: 0 15px;
}

.speakers-bio {
    color: black;
    font-family: "raleway-regular", Arial, Tahoma;
    text-align: center;
    margin: 10px 15px 0px 15px;
}

.speakers-img {
    max-height: 271px;
    max-width: 234px;
}

.speakers-desc {
    font-family: "raleway-regular", Arial, Tahoma;
    color: black;
    margin: 20px 5% 20px 5%;
}

.speakers-desc>p>a {
    color: #FF8C00;
}

.speakers-desc>p>a:visited {
    color: #D90000;
}