#sponsor_prizes {
	padding: 32px;
	display: none;
}

#sponsor_prizes #prizes-flex {
	margin-top: 16px;
	text-align: center;
	word-spacing: 0px;
}

#prizes-flex > .prize {
	font-family: "raleway-regular", Arial, Tahoma;
	display: inline-block;
	min-width: 236px;
	width: 30vw;
	max-width: 500px;
	background-color: white;
	color: black;
	overflow: hidden;
	text-align: center;
	min-height: 150px;
	padding: 8px;
}