/* ===Sponsors=== */
#sponsors {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sponsors-flex {
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#sponsors-header {
    color: black;
}

/*#sponsors .sponsor {
    -webkit-transition: 0.25s all ease-in-out;
    -moz-transition: 0.25s all ease-in-out;
    -ms-transition: 0.25s all ease-in-out;
    -o-transition: 0.25s all ease-in-out;
    transition: 0.25s all ease-in-out;
}*/

.sponsors-gold { 
    max-height: 75px;
    max-width: 150px;
    padding-left: 19.44px;
    padding-right: 19.44px;
    padding-top: 14.58px;
    padding-bottom: 14.58px;
    opacity: .75;
}
.sponsors-gold:hover {
    opacity: 1;
}

.sponsors-turquoise {
    max-height: 115px;
    max-width: 200px;
    padding-left: 19.44px;
    padding-right: 19.44px;
    padding-top: 14.58px;
    padding-bottom: 14.58px;
    opacity: .75;
}
.sponsors-turquoise:hover {
    opacity: 1;
}

.sponsors-kind {
    max-height: 90px;
}

.sponsors-topaz {
    max-height: 135px;
    max-width: 200px;
    padding-left: 19.44px;
    padding-right: 19.44px;
    padding-top: 14.58px;
    padding-bottom: 14.58px;
    opacity: .75;
}
.sponsors-topaz:hover {
    opacity: 1;
}

.sponsors-ruby {
    max-height: 175px;
    max-width: 275px;
    padding-left: 19.44px;
    padding-right: 19.44px;
    padding-top: 14.58px;
    padding-bottom: 14.58px;
    opacity: .75;
}
.sponsors-ruby:hover {
    opacity: 1;
}

.sponsors-amethyst {
    max-height: 200px;
    max-width: 350px;
    padding-left: 19.44px;
    padding-right: 19.44px;
    padding-top: 14.58px;
    padding-bottom: 14.58px;
    opacity: .75;
}
.sponsors-amethyst:hover {
    opacity: 1;
}

.sponsors-diamond {
    max-height: 300px;
    max-width: 75px;
    padding-left: 19.44px;
    padding-right: 19.44px;
    padding-top: 9.72px;
    padding-bottom: 9.72px;
    opacity: .75;
}
.sponsors-diamond:hover {
    opacity: 1;
}
